.ps5{
    text-align: center;
}

.titulo-ps5{
    text-align: center;
}

.info-ps5{
    text-align: center;
}

.boton{
    text-align: center;
}

.img-sobre-nosotros{
    text-align: center;
}

.titulo-tienda{
    text-align: center;
}

.texto-sobre-nosotros{
    text-align: center;
}